/* font-family: 'Caveat', cursive;*/

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: #8B7EAC;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF8FE;
}


h2 {
    font-size: 30px;
    line-height: 40px; 
    font-weight: bold;
    color: #8E80A9;
}


/* HEADER */


.section-number {
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;

    display: flex;
    align-items: center;
    transition-duration: 200ms;
    transition-timing-function: ease;

    transform: translateX(30px);
    opacity: 0;

    position: fixed;
    top: 50%;
    right: 0;

    color: rgba(174, 164, 200, 0.5);
}

.sn-animation {
    opacity: 1;
    transform: translateX(0);
}


.section-number::after {
    content: "";
    display: block;
    margin-left: 15px;
    width: 60px;
    height: 1px;
    background: rgba(139, 126, 172, 0.73);
}



header {
    width: 100%;
    box-sizing: border-box;
    height: 908px;
    padding: 70px 140px 210px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url(images/headerBackground.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.menu-btn {
    display: flex;
    cursor: pointer;
}

.hamburger {
    margin-right: 12px;
    display: inline-block;
    overflow: visible;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.hamburger.is-active:hover,.hamburger:hover {
    opacity: .7;
}

.hamburger.is-active .hamburger-inner,.hamburger.is-active .hamburger-inner:after,.hamburger.is-active .hamburger-inner:before {
    background-color: #8B7EAC;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -5px
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    position: absolute;
    width: 24px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    background-color: #8B7EAC;
}

.hamburger-inner:after,.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -6px
}

.hamburger-inner:after {
    bottom: -6px;
    width: 14px;
}

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header-description {
    align-self: flex-start;
    margin-left: 4em;
    font-family: 'Caveat', cursive;
    font-size: 45px;
    color: #8E80A9;
}

.header-name {
    font-size: 265px;
    font-weight: 600;
    letter-spacing: 0.34em;
    text-align: center;

    width: 100%;
    margin-left: 0.34em;
    color: #FFFFFF;
    text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);
}

.first-lesson-btn {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 20px;
    color: #E65C7B;
}

.first-lesson-btn::before {
    content: "";
    display: inline-block;

    width: 56px;
    height: 48px;
    margin-right: 8px;
    background-color: #E65C7B;
    background-image: url(images/firstLessonArrow.svg);
    background-repeat: no-repeat;
    background-position: 50%;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .social-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
}

.tw-btn {
    background: url(images/TW.svg) no-repeat 50%;
    font-size: 0;
    width: 15px;
    height: 15px;
    display: block;
}

.fb-btn {
    background: url(images/FB.svg) no-repeat 50%;
    font-size: 0;
    width: 15px;
    height: 15px;
    display: block;
}

.vk-btn {
    background: url(images/VK.svg) no-repeat 50%;
    font-size: 0;
    width: 15px;
    height: 15px;
    display: block;
}


/* SECTION 2 */


.directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-bottom: 150px;

    background: url(images/backgroundSection2.png) no-repeat 50% 0px;
}

.directions h2 {
    margin-bottom: 65px;
}

.posts-wrapper {
    display: flex;
    flex-direction: row;
}

.main-post {
    margin-right: 35px;
}

.main-post .post-wrapper  {
    display: flex;
    flex-direction: row;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.main-post .post-text {
    padding: 40px 0 25px 45px;
    margin-right: auto;
}

.main-post h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.main-post img {
    display: block;
}

.main-post .post-text div {
    display: flex;
    flex-direction: column;
}

.main-post .post-text div:last-of-type {
    margin-top: 15px;
}

.main-post .post-text div:last-of-type span {
    color: #E65C7B;
}

.main-post .post-text div span {
    font-size: 12px;
}

.main-post .post-wrapper .full-post {
    width: 64px;
    max-height: 100%;
    background: #8373A1 url(images/firstLessonArrow.svg) no-repeat 50%;
}

.second-posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    margin-bottom: 30px;
}

.post .post-wrapper  {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 305px;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.post .post-text {
    padding: 40px 0 25px 45px;
    margin-right: auto;
}

.post h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.post .post-text div {
    display: flex;
    flex-direction: column;
}

.post .post-text div:last-of-type {
    margin-top: 15px;
}

.post .post-text div:last-of-type span {
    color: #E65C7B;
}

.post .post-text div span {
    font-size: 12px;
}

.post .post-wrapper .full-post {
    position: absolute;
    bottom: 34px;
    right: 35px;

    width: 45px;
    height: 30px;
    background: #8373A1 url(images/firstLessonArrow.svg) no-repeat 50%;
}

.second-posts {
    display: flex;
    flex-direction: column;
}


.directions .see-more {
    text-align: center;
    width: 100%;
    padding: 14px 0;
    margin-top: auto;
    display: block;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}



/* SECTION 3 */

.abonaments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 145px;
    box-sizing: border-box;

    background: url(images/backgroundSection3.png) no-repeat 50% 25%;
    background-size: cover;
}

.abonaments h2 {
    margin-bottom: 55px;
}

.abonaments nav {
    display: flex;
    justify-content: space-around;

    width: 330px;
    margin-bottom: 50px;
}

.abonaments .price-btn {
    background: none;
    border: none;
    color: #E65C7B;
    font-size: 12px;
}

.abonaments .selected{
    padding-bottom: 5px;
    border-bottom: 2px solid #E54C7B;
}

.abonament-wrapper {
    display: flex;
    justify-content: space-between;
}

.abonaments .main-block {
    padding: 60px 55px;
    width: 360px;
    height: min-content;
    box-sizing: border-box;
    margin: 0 15px;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);  

    display: flex;
    flex-direction: column;
    align-items: center;
}

.abonaments h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.abonaments .pink-text span{
    display: block;
    color: #E65C7B;
    font-size: 12px;
}

.abonaments .pink-text{
    margin-bottom: 25px;
    text-align: center;
}

.abonaments .price {
    font-size: 30px;
    font-weight: bold;
}

.abonaments .order-btn {
    display: block;

    margin-top: 35px;
    padding: 15px 50px;
    font-size: 12px;
    color: #fff;
    background-color: #8E80A9;
}

.abonaments .main-block:first-child .order-btn,
.abonaments .main-block:last-child .order-btn {
    display: none;
}

.abonaments .main-block:first-child,
.abonaments .main-block:last-child {
    width: 290px
}



/* SECTION 4 */

.our-team-rewiews {
    width: 100%;
    background: url(images/backgroundSection4-1.png) -20% 50% no-repeat,
                url(images/backgroundSection4-2.png) 90% 0% no-repeat ;
    background-size: 80%, 
                     40%;
}

.our-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 140px;
}

.our-team h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 120px;
}

.teachers-list {
    width: 50%;
    height: 586px;
    padding-right: 65px;
    box-sizing: border-box;

    transition-duration: 1000ms;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.teachers-list ul {
    height: 100%;
}

.teacher-item {
    position: relative;
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: 80px;
    margin-left: 25px;
    padding: 25px;
    padding-left: 144px;


    display: flex;
    flex-wrap: wrap;
    transform: scale(80%);
    opacity: 0;
    transform: scale(0.95) translate(0px, 5px);
    transition-duration: 300ms;

    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.full-opacity {
    transform: scale(1);
    opacity: 1 !important;
}

.teacher-item:nth-of-type(3) {
    margin-bottom: 45px;
}

.teacher-item img {
    width: 144px;
    height: 144px;
    position: absolute;
    bottom: 15px;
    left: -25px;
}

.teacher-item div:first-of-type,
.teacher-name {
    color: #E54C7B;
    font-size: 12px;
    line-height: 20px;
    margin-right: auto;
}

.our-team .social-btns {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    /* margin-left: -3px;   */
}

.our-team .social-btns li {
    margin-left: 5px;
}

.hidden {
    display: none;
}

.teacher-name {
    width: 100%;
    margin-bottom: 10px;
}

.lesson-type {
    font-size: 12px;
    margin-right: auto;
}

.teacher-item .see-more {
    background: none;
    border: none;
    cursor: pointer;
    text-align: right;
    font-size: 12px;
    border-bottom: 2px solid #8373A1;
}

.navigation {
    display: flex;
    align-items: center;
}

.crnt-page {
    width: 1em;
    font-size: 16px;
    margin-left: 20px;
}

.total-pages {
    width: 1em;
    font-size: 12px;
    margin-right: 20px;
}

.back-btn,
.back-btn-disactive,
.forward-btn,
.forward-btn-disactive {
    width: 45px;
    height: 30px;
    cursor: pointer;

    font-size: 0;
    border: none;
    background: none;

    transition-property: background;
    transition-duration: 300ms;
}

.back-btn {
    background: #8373A1 url(images/arrowLeft.svg) no-repeat 50%;
}

.back-btn-disactive {
    border: 1px solid #8373A1;
    cursor: default;
    background: url(images/arrowLeftViolet.svg) no-repeat 50%;
}

.forward-btn {
    background: #8373A1 url(images/firstLessonArrow.svg) no-repeat 50%;
}

.forward-btn-disactive {
    border: 1px solid #8373A1;
    cursor: default;
    background: url(images/firstLessonArrowViolet.svg) no-repeat 50%;
}

.teacher-about {
    width: 50%;

    transition-duration: 200ms;
    opacity: 0;
}

.teacher-about h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 11px;
}

.teacher-about .experience {
    font-size: 14px;
    color: #E65C7B;
    margin-bottom: 11px;
}

.teacher-about p {
    max-width: 480px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 1em;
}


/* SECTION 5 */

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 145px;
}

.reviews h2 {
    margin-bottom: 60px;
}

.reviews-wrapper {
    display: flex;
    align-items: center;
    position: relative;

}

.review-post {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    
    box-sizing: border-box;
    width: 440px;
    margin: 0 13px;
    padding: 55px 50px 30px 90px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(142, 128, 169, 0.2);
}

.quotes {    
    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 15px;
    width: 100%;

    color: rgba(142, 128, 169, 0.39);
}

.review-post p {
    font-size: 12px;
    line-height: 25px;
    font-weight: 600;
    max-width: 300px;

    margin-bottom: 2em;
}

.review-post img {
    margin-right: 13px;
}

.reviewer-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 52px;
    width: 50%;
}

.reviewer-data div:first-child {
    font-size: 12px; 
    color: rgba(230, 92, 123, 0.7);
}

.reviewer-data div:nth-child(2) {
    font-size: 10px;
    color: rgba(142, 128, 169, 0.7);
    
}

.reviewer-data .social-btns {
    display: flex;
    justify-content: flex-start;
    width: 60px;
    margin-left: -3px;    
}

.reviewer-data .social-btns li {
margin-right: 5px;
}

.reviews-nav button{
    position: absolute;
    top: 45%;
    border: none;
    cursor: pointer;

}



/* CAROUSEL */



.ant-carousel {
    max-width: 930px;
    margin: 0 auto auto;

    width: auto;
    position: relative;
  }
  
  .ant-carousel-hider {
    overflow: hidden;
  }
  
  .ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 20px;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }
  
  /* Navigation item styles */
  div.ant-carousel-arrow-left,
  div.ant-carousel-arrow-right {
    width: 45px;
    height: 30px;
    position: absolute;
    top: 45%;
    cursor: pointer;
    z-index: 32;
    display: block;
  }
  
  div.ant-carousel-arrow-left {
    left: -15px;
    transform: rotate(180deg);
    background: #8373A1 url(images/firstLessonArrow.svg) no-repeat 50%;
  }
  
  div.ant-carousel-arrow-right {
    right: -15px;
    background: #8373A1 url(images/firstLessonArrow.svg) no-repeat 50%;
  }



/* FOOTER */



footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: center;

    height: 475px;
    width: 100%;
    background: url(images/footerBackground.jpg) no-repeat 50%;
    background-size: cover;
}

footer .social-btns {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    max-width: 450px;
    width: 100%;
    padding: 70px 0;
}

footer .input-field {
    background: transparent;
    border: none;
    border-bottom: 1px solid #8E80A9;
    padding: 6px 0;
}

footer .input-field::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: rgba(142, 128, 169, 0.4);
}

footer input[type="submit"] {
    background: #E65C7B;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
}

.footer-copyrights {
    max-width: 100%;
    padding: 30px 0 25px;

    display: flex;
    justify-content: space-around;

    background: #8373A1;
}

.footer-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    padding: 10% 0;
}

.about-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 35px;
}

.about-item span {
    font-size: 12px;
    font-weight: 600;
}

.about-item span:first-child {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.footer-copyrights a,
.footer-copyrights span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-device-width: 768px) and (max-device-width: 1340px),
       screen and (min-width: 768px) and (max-width: 1340px) {
    header,
    .directions,
    .abonaments,
    .rewiews,
    .footer-top {
        padding-left: 75px;
        padding-right: 75px;
        box-sizing: border-box;
    }

    h2 {
        font-size: 21px;
        margin-bottom: 40px !important;
    }

    .section-number {
        font-size: 18px;
    }
    .section-number::after {
        margin-left: 5px;
        width: 20px;
    }

    header {
        height: 484px;
        padding-bottom: 90px;
    }

    .header-description {
        font-size: 24px;
    }

    .header-name {
        font-size: 144px;
        letter-spacing: 0.26em;
    }
    .first-lesson-btn {
        font-size: 12px;
    }
    .first-lesson-btn::before {
        width: 30px;
        height: 26px;
    }

    .directions {
        margin-bottom: 120px;
    }

    .main-post {
        margin-right: 20px;
    }

    .main-post img,
    .main-post .post-wrapper {
        max-width: 245px;
    }

    .main-post .post-text {
        padding: 20px;
    }

    .main-post h3,
    .post h3 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .main-post .post-text div span,
    .post .post-text div span {
        font-size: 10px;
    }

    .main-post .post-text div:last-of-type,
    .post .post-text div:last-of-type {
        margin-top: 10px;
    }

    .post {
        margin-bottom: 20px;
    }

    .post img {
        height: 122px;
    }

    .post .post-wrapper  {
        width: 205px;
    }

    .post .post-text {
        padding: 20px;
    }

    .post .post-wrapper .full-post {
        bottom: 24px;
        right: 25px;
    
        width: 30px;
        height: 20px;
        background-size: 20%;
    }

    .directions .see-more {
        font-size: 10px;
        padding: 7px 0;
    }

    .abonaments {
        padding-bottom: 120px;
    }

    .abonaments .main-block {
        padding: 40px 35px;
        width: 240px;
        margin: 0 10px; 
    }

    .abonaments h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .abonaments .pink-text span{
        font-size: 10px;
    }
    
    .abonaments .pink-text{
        margin-bottom: 10px;
    }
    
    .abonaments .price {
        font-size: 21px;
    }

    .abonaments .order-btn {
        margin-top: 17px;
        padding: 10px 20px;
        font-size: 10px;
    }

    .abonaments .main-block:first-child,
    .abonaments .main-block:last-child {
        width: 175px;
    }

    .our-team {
        margin-bottom: 120px;
    }

    .teacher-item {
        max-width: 255px;
        margin-bottom: 55px;
        margin-left: 25px;
        padding: 10px;
        padding-left: 90px;
    }
    
    .full-opacity {
        transform: scale(1);
        opacity: 1 !important;
    }
    
    .teacher-item:nth-of-type(3) {
        margin-bottom: 45px;
    }
    
    .teachers-list {
        height: 397px;
        padding-right: 40px;
    }

    .teachers-list ul {
        height: 100%;
    }

    .teacher-item img {
        width: 90px;
        height: 90px;
        bottom: 10px;
        left: -15px;
    }
    
    .teacher-item div:first-of-type,
    .teacher-name {
        font-size: 10px;
        line-height: 15px;
    }
    
    .our-team .social-btns {
        display: flex;
        width: 40px;
    }

    .our-team .social-btns a {
        width: 10px;
        height: 10px;
        background-size: contain;
    }
    
    .teacher-name {
        width: 100%;
        margin-bottom: 10px;
    }

    .back-btn,
    .back-btn-disactive,
    .forward-btn,
    .forward-btn-disactive {
        width: 30px;
        height: 20px;
        background-size: 20%;
    }
    
    
    .lesson-type {
        font-size: 10px;
    }
    
    .teacher-item .see-more {
        font-size: 10px;
        border-bottom: 1px solid #8373A1;
    }

    .teacher-about h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .teacher-about .experience {
        font-size: 12px;
        margin-bottom: 15px;
    }
    
    .teacher-about p {
        max-width: 310px;
        font-size: 10px;
        line-height: 15px;
    }

    .reviews {
        margin-bottom: 70px;
    }

    .reviews h2 {
        margin-bottom: 40px;
    }

    .review-post {        
        width: 250px;
        padding: 40px 15px 30px;
    }
    
    .review-post p {
        font-size: 10px;
        line-height: 15px;
        max-width: 250px;
    
        margin-bottom: 1.5em;
    }
    
    .ant-carousel {
        max-width: 550px;
    }

    .footer-top {
        align-items: center;
        flex-direction: column-reverse;
        padding: 0;
        height: auto;
        background: #FCF8FE;
    }

    .footer-about {
        width: 100%;
        background-color: #8373A1;
        padding-bottom: 20px;
    }

    .footer-about .about-item,
    .footer-about .social-btns {
        padding: 0 75px;
        box-sizing: border-box;
    }

    .footer-about div {
        margin-bottom: 30px;
    }

    .footer-about div span {
        color: #fff;
    }

    footer .social-btns {
        width: auto;
    }

    footer .social-btns li{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    footer .social-btns li a{
        filter: brightness(1000%);
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;        
    }

    .footer-top form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 70px 180px;

        background: url(images/footerBackground.jpg) no-repeat center left;
        background-size: cover;
    }

    .footer-top form h2 {
        line-height: normal;
        font-size: 20px;
        margin-bottom: 40px;
    }

    footer .input-field {
        width: 100%;
        margin-bottom: 35px;
    }
    
    footer input[type="submit"] {
        background: #E65C7B;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
    }    

    .footer-copyrights {
        padding: 0 75px 75px;
        justify-content: space-between;
    }

    .footer-copyrights a {
        margin-bottom: 25px;
    }

}



@media screen and (max-width: 767px),
       screen and (max-device-width: 767px) {

    h2 {
        font-size: 18px;
        line-height: 0;
    }

    .header-bottom .social-btns,
    .city,
    .menu-text {
        display: none;
    }

    header,
    .directions,
    .abonaments,
    .rewiews,
    .footer-top {
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;
    }

    header {
        padding: 20px 15px;
        height: 335px;
        background-position: 50% bottom;
    }

    .header-description {
        font-size: 18px;
        margin-left: 2em;
    }

    .header-name {
        font-size: 67px;
        letter-spacing: 0.26em;
    }

    .directions {
        background: url(images/backgroundSection2Small.png) no-repeat left;
        background-size: 80%;
        margin-bottom: 70px;
    }

    .posts-wrapper,
    .second-posts {
        flex-direction: column;
    }

    .post,
    .main-post {
        max-width: 250px;
        margin-right: 0;
        margin-bottom: 30px;
        flex-direction: column;
    }

    .post img,
    .main-post img {
        height: 200px;
        width: 250px;
    }
    
    .main-post .post-wrapper,
    .post .post-wrapper  {
        display: flex;
        flex-direction: row;
        width: auto;
    
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    }
    
    .main-post .post-text,
    .post .post-text {
        padding: 20px;
        margin-right: auto;
    }
    
    .main-post h3,
    .post h3 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .main-post .post-text div,
    .post .post-text div {
        display: flex;
        flex-direction: column;
    }
    
    .main-post .post-text div:last-of-type,
    .post .post-text div:last-of-type {
        margin-top: 5px;
    }
    
    .main-post .post-text div:last-of-type span,
    .post .post-text div:last-of-type span {
        color: #E65C7B;
    }
    
    .main-post .post-text div span,
    .post .post-text div span {
        font-size: 10px;
    }
    
    .main-post .post-wrapper .full-post,
    .post .post-wrapper .full-post {
        position: static;
    
        height: auto;

        width: 64px;
        max-height: 100%;
        background: #8373A1 url(images/firstLessonArrow.svg) no-repeat 50%;
    }

    .abonaments {
        padding-bottom: 70px;
    }
    
    .abonament-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .abonaments .main-block,
    .abonaments .main-block:first-child,
    .abonaments .main-block:last-child{
        justify-content: space-between;

        box-sizing: border-box;
        width: 250px;
        height: 230px;
        padding: 30px 50px;
        margin: 0;
        margin-bottom: 30px;
    }

    .abonaments h3 {
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
    }

    .abonaments .price {
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
    }

    .abonaments .pink-text span{
        font-size: 10px;
    }

    .abonaments .pink-text{
        margin-bottom: 20px;
    }

    .abonaments .main-block .order-btn {
        display: block !important;
        margin: 0;
        padding: 15px 20px;
        font-size: 10px;
    } 

    .our-team {
        margin-bottom: 70px;
    }
    
    .our-team h2 {
        margin-bottom: 40px;
    }
    
   
    .teachers-list {
        align-items: center;
        height: 165px;
        width: 100%;
        padding: 0;
    }

    .teachers-list ul {
        height: 100%;
    }
    
    .teacher-item {
        max-width: 270px;
        height: 80px;
        margin: 15px;
        padding: 15px;
        padding-left: 95px;

    }
        
    .teacher-item img {
        width: 80px;
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    
    .teacher-item div:first-of-type,
    .teacher-name {
        font-size: 10px;
        line-height: 15px;
    }
    
    .our-team .social-btns {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;    

        position: absolute;
        top: 15px;
        right: 15px;

        height: 50px;
        width: 20px;
    }
    
    .teacher-name {
        margin-bottom: 5px;
    }
    
    .lesson-type {
        font-size: 10px;
    }
    
    .teacher-item .see-more {
        display: none;
    }
    
    .navigation {
        margin-bottom: 25px;
    }
    
    
    .teacher-about {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        padding: 0 15px;
    }
    
    .teacher-about h3 {
        display: none;
    }
    
    .teacher-about .experience {
        font-size: 10px;
        margin-bottom: 20px;
    }
    
    .teacher-about p {
        max-width: 270px;
        font-size: 10px;
        line-height: 15px;
    }

    .reviews {
        margin-bottom: 70px;
    }

    .reviews h2 {
        margin-bottom: 40px;
    }

    .review-post {        
        width: 250px;
        padding: 40px 15px 30px;
    }
    
    .review-post p {
        font-size: 10px;
        line-height: 15px;
        max-width: 250px;
    
        margin-bottom: 1.5em;
    }
    
    .ant-carousel {
        max-width: 270px;
    }

    .footer-top {
        align-items: center;
        flex-direction: column-reverse;
        padding: 0;
        height: auto;
    }

    .footer-about {
        padding: 50px 35px 40px;
        background-color: #8373A1;
    }

    .footer-about div {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-about div span {
        color: #fff;
    }

    footer .social-btns {
        width: auto;
    }

    footer .social-btns li{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    footer .social-btns li a{
        filter: brightness(1000%);
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;        
    }

    .footer-top form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;

        box-sizing: border-box;
        width: 100%;
        padding: 70px 35px;
        
        width: 100%;
        max-width: 100%;

        background: url(images/footerBackground.jpg) no-repeat 20%;
        background-size: cover;

    }

    .footer-top form h2 {
        line-height: normal;
        font-size: 20px;
        margin-bottom: 40px;
    }

    footer .input-field {
        width: 100%;
        margin-bottom: 35px;
    }
    
    footer input[type="submit"] {
        background: #E65C7B;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
    }
    

    .footer-copyrights {
        padding: 0 35px 50px;
        flex-direction: column;
        justify-content: flex-end;
    }

    .footer-copyrights a {
        margin-bottom: 25px;
    }

}

